html,
body {
    height: 100%;
    background-color: #222;
    font-family: Arial, sans-serif;
    background-image: url("wood-1140564_1280.jpg");
}

h1 {
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 3em;
    padding-top: 25px;
}

h2 {
    color: #fff;
    font-weight: normal;
    padding: 1em;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    clear: both;
    color: #444;

}

.container {
    width: 760px;
    margin: 0 auto;
}

/* -----------------BUTTONS------------------ */

.button {
    display: inline-block;
    background: #30e3ca;
    -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 5px 30px;
    margin: 20px 20px 10px 0px;
    color: #666;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(72, 61, 76, 0.5);
}

.button:hover a {
    color: lightgray;
}
