html,
body {
    height: 100%;
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #444;
}

h1 {
    color: #d3e4f1;
    margin: 0;
    font-size: 2.5em;
    font-weight: normal;
    padding-top: 25px;
}

p {
    font-size: 16px;
    font-weight: 100;
}

ul {
    list-style-type: none;
}

nav {
    padding-top:10px;
    color:#444;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    clear: both;
    color: #444;
}

a:hover {
    color: #888;
}

main a, section a {
    font-size: 1.25em;
    line-height: 2em;
}

main, section {
    margin: 20px 0 20px 0;
    text-align: left;
}

div {
    color: #fff;
}

form {
    color: #f8a043;
    margin-top: 30px;
}

table {
    margin: 30px;
}
#table4 {
    max-width:100%; 
    margin:auto;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 100px;
}
th {
    font-weight: 100;
}
input {
    line-height: 2em;
    border: #666;
    border-radius: 4px;
    background: #444;
    margin: 3px;
    padding-left: 10px;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

fieldset {
    max-width: 70%;
    padding: 30px 30px 15px 30px; 
    margin-bottom: 50px;
}

.container {
    width: 760px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
}

.active {
    color:rgba(255,255,255,.95); 
    letter-spacing: 1px;
    line-height: 1.5em;
}

.italic {
    font-style: italic;
}
.results div {
    color: #f8a043;
}
.results input, .results textarea {
    background-color: #222;
    height: 20px;
    border: none;
    resize: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding-left: 8px;
}
#content {
    text-align: center;
}
table#conversion_table { margin: 50px 0px 40px 0px;}
table#conversion_table td, table#conversion_table input{
    cellpadding: 10px;
    background-color: rgb(225, 229, 237);
    color: #444;
}
table#conversion_table th{
    background-color: rgb(50, 50, 50, .50);
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 2pt;
}
#panel, #flip {
    width: 55%;
    padding: 5px;
    background-color: #ebede6;
    border: 1px solid #444;
    color:#444;
    cursor: pointer;
}

#panel {
    padding: 50px;
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
/* -----------------BUTTONS------------------ */

.button_back {
    background: #444;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 10px;
    border: 1px solid lightgray;
    color: #fff;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.button_back:hover {
    background-color: rgba(72, 61, 76, 0.5);
}

a.button_back:hover {
    color: lightgray;
}

input[type=button], input[type=submit], input[type=reset]   {
    background: #444;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 20px 5px;
    border: 1px solid lightgray;
    color: lightgray;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 1em;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: rgba(72, 61, 76, 0.5);
}