html,
body {
    height: 100%;
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #444;
}

h1 {
    color: #d3e4f1;
    margin: 0;
    font-size: 2.5em;
    font-weight: normal;
    padding-top: 25px;
}
h3 {
    font-weight:100;
    letter-spacing: 1px;
    color: #f8a043;
    padding: 0px;
    margin: 25px 0px 2px 0px;
}
p {
    font-weight: 100;
}

ul {
    list-style-type: none;
}

th {
     color: #f8a043;   
}
th, td {
    text-align: right;
    letter-spacing: 1px;
    padding-right: 10px;
}
nav {
    padding-top:10px;
    color:#444;
}

a {
    text-decoration: none;
    clear: both;
    color: #f8a043;
}

a:hover {
    color: #888;
}

fieldset {
    padding: 25px;
}
input {
    width: 60px;
    margin: 8px 0;
}

main, section {
    margin: 20px;
    text-align: left;
}
div {
    color: #fff;
}

.container {
    width: 760px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
}

.active {
    color:rgba(255,255,255,.95); 
    letter-spacing: 1px;
    line-height: 1.5em;
}

.italic {
    font-style: italic;
}

.align-left {
    text-align: left;
    padding: 0;
    margin: 0;
}

th.qty, th.total {
    padding-left: 30px;
}

textarea {
    background-color: black;
}
#flip {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #444;
    border: solid 1px #888;
    font-size: 14px;    
    font-weight: normal;
}

#panel {
    margin: 0px;
    padding: 20px;
    display: none;
    border-radius: 5px;
    background-color: #222;
    text-align: left;
    line-height: 1.25em;
}

#myFinalGrade {
    padding-top: 20px;    
}

#salesTable input {
    width: 150px;
}

#calcTable {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

#repName {
    width: 250px;
    margin-botom: 20px;
}
#displayRep {
    color: #fff;
    margin: 0px 0px 15px 0px;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.25em;
}

/* -----------------BUTTONS------------------ */

.button_back {
    background: #444;
    border-radius: 5px;
    padding: 5px 30px;
    margin-top: 20px;
    border: 1px solid lightgray;
    color: #fff;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.button_form {
    width: 150px;
    background: #444;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 10px;
    border: 1px solid lightgray;
    color: #fff;
    letter-spacing: 1.5px;
    text-decoration: none;
}