html,
body {
    height: 100%;
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #444;
}

h1 {
    color: #d3e4f1;
    margin: 0;
    font-size: 2.5em;
    font-weight: normal;
    padding-top: 25px;
}
h3 {
    font-weight:100;
    letter-spacing: 1px;
    color: #f8a043;
    padding: 0px;
    margin: 25px 0px 2px 0px;
}
p {
    font-weight: 100;
}

ul {
    list-style-type: none;
}

th {
     color: #f8a043;   
}
th, td {
    text-align: right;
    letter-spacing: 1px;
}
nav {
    padding-top:10px;
    color:#444;
}

a {
    text-decoration: none;
    clear: both;
    color: #f8a043;
}

a:hover {
    color: #888;
}

fieldset {
    padding: 25px;
}
input {
    width: 60px;
    margin: 8px 0;
}

main, section {
    margin: 20px;
    text-align: left;
}
div {
    color: #fff;
}

.container {
    width: 760px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
}

.active {
    color:rgba(255,255,255,.95); 
    letter-spacing: 1px;
    line-height: 1.5em;
}

.italic {
    font-style: italic;
}

#tableStyle {
    margin: 40px auto;
}
#tableStyle th {
    background-color: maroon;
    color: white;
    font-weight: normal;
    padding: 10px;
}
#tableStyle tr {
    color: #444;
    font-weight: normal;
    line-height: 2em;
}

.rowColor1 {
    background-color: whitesmoke;
}
.rowColor2 {
    background-color: lightgray;
}
#box {
    text-align: left;
}

#part1a{
    background: #ed5031;
    color: white;
    width: 400px;
    height: 150px;
    line-height: 2em;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5%;
    cursor: move;
}

#part1b{
    color: white;
    line-height: 2em;
    letter-spacing: 1px;
    margin:30px;
    text-align: left;    
}
/* -----------------BUTTONS------------------ */

.button_back {
    background: #444;
    border-radius: 5px;
    padding: 5px 30px;
    margin-top: 20px;
    border: 1px solid lightgray;
    color: #fff;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.button_form {
    width: 150px;
    background: #444;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 10px;
    border: 1px solid lightgray;
    color: #fff;
    letter-spacing: 1.5px;
    text-decoration: none;
}
