html,
body {
    height: 100%;
    background-color: #222;
    font-family: Arial, sans-serif;
}

h1 {
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 3em;
    padding-top: 25px;
}

.container {
    width: 760px;
    margin: 0 auto;
}
